@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
}

.container {
  max-width: 500px;
  margin: 20px auto;
  overflow: auto;
  min-height: 300px;
  border: 1px solid steelblue;
  padding: 30px;
  border-radius: 5px;
}

.container h2 {
	margin-left: 5px;
}

.container div {
	margin-top: 20px;
}

.container p {
	margin-left: 5px;
}

.header {
  max-width: 500px;
  margin: 30px auto;
  overflow: auto;
  border: 1px solid steelblue;
  padding: 30px;
  border-radius: 5px;
}

.btn {
  display: inline-block;
  background: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}

.btn:focus {
  outline: none;
}

.btn:active {
  transform: scale(0.98);
}

.btn-block {
  display: block;
  width: 100%;
}

.lnk {
	color: blue;
	cursor: pointer;
	text-decoration: none;
}

.lnk:focus, .lnk:hover {
	text-decoration: underline;
}

.loading {
	text-align: center;
	display: table-cell;
	vertical-align: middle;
	color: steelblue;
	height: 230px;
	width: 400px;
}


.form-control {
  margin: 20px 0;
}

.form-control label, .form-control p {
  display: block;
  margin: 5px;
}

.form-control p {
	margin-bottom: 10px;
}

.form-control p span.incorrect {
	color: red;
	font-weight: bold;
}

.form-control p span.correct {
	color: green;
	font-weight: bold;
	padding: 5px 0 0 10px;
	font-size: 1.5rem;
}

.form-control input {
  width: 100%;
  height: 40px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 17px;
}

.form-control-check {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-control-check label {
  flex: 1;
}

.form-control-check input {
  flex: 2;
  height: 20px;
}

footer {
  margin-top: 30px;
  text-align: center;
}
